* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  color: white;
  letter-spacing: 2px;
  --primary-color: black;
}

body {
  background-color: black;
}

#main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-size: 4rem;
}

#header-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1,
p {
  margin: 5px;
}

p:last-of-type {
  margin-top: 20px;
}
